//- script(src='https://cdn1.lncld.net/static/js/3.0.4/av-min.js')
//- script(src='/js/Valine.min.js')
//- #vcomments
//- script.
//- 	new Valine({
//- 	el: '#vcomments',
//- 	appId: '7kAVgtrPO6OHBU94DwRccPRI-gzGzoHsz',
//- 	appKey: 'vppocnylIaG8TFaixf3rl6FV',
//- 	placeholder: 'ヾﾉ≧∀≦)o来啊，快活啊!'
//- 	})
